@Master['pure-master']
<!-- A wrapper for all the blog posts -->
@Section['Content']
<div class="posts">
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Hi! I'm Rui Carvalho </h2>
            <h3>I build web applications for enterprises at scale and startups</h3>
            <p>You can hire me for anything I can add value, mostly around modern .Net web and team improvement. Alternatively, you can also call me for giving a talk (Meetup, Brown bag lunch or company internal)</p>
            <p>In a more global way, you can ping me for a small chat, I'm always happy to exchange with people</p>
            <p>
              <a class="pure-button green  pull-right" href="mailto:contactme at rui dot fr">Mail me</a>
            </p>
            <p>Btw, The easiest way to contact me is via twitter <a class="pure-button pure-button-primary " href="http://twitter.com/rhwy">rhwy</a></p>
        </header>

    </section>

    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Blog </h2>
            <p>I used to blog a lot since the early 2000's but these last years I spent most of my energy in more direct exchange 
            with people through twitter, meetups and conferences. But we're now in 2016 and I feel the need to write down a few things in
            a more constructive and durable way -or not- and that's why I'll try to reboot my blog. Please go to the blog, read, comment. 
            </p>
            <a class="pure-button green  pull-right" href="/Blog/">Go To Blog</a>
        </header>
    </section>

    <section class="post">
        <header class="post-header">
            <h2 class="post-title">NCrafts </h2>
            <p>I organize with a team of amazing people an international
            developer conference in Paris in May. 
            Our focus, is exchange, Software craftsmanship and anything that can rise the bar in our community</p>
            
            <h2>Next Edition will take place in 2017, 18th & 19th of May</h2>
            
            <p>Information, CFP and ticketing will be available soon, keep tuned with the <a href="http://twitter.com/ncraftsconf">NCrafts twitter account</a>
            <a class="pure-button green  pull-right" href="http://ncrafts.io">more on NCrafts</a>
            </p>
            
        </header>
    </section>
</div>
@EndSection
